<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration
PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">${test.jdbc.driverClassName}</property>
        <property name="connection.url">${test.jdbc.url}</property>
        <property name="connection.username">${test.jdbc.username}</property>
        <property name="connection.password">${test.jdbc.password}</property>
        <property name="hibernate.dialect">${test.hibernate.dialect}</property>
        <property name="hibernate.jdbc.batch_size">25</property>
        <property name="hibernate.jdbc.batch_versioned_data">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <property name="hibernate.cache.use_query_cache">true</property>

        <mapping class="com.fiveamsolutions.nci.commons.audit.AuditLogRecord"/>
        <mapping class="com.fiveamsolutions.nci.commons.audit.AuditLogDetail"/>

        <mapping class="gov.nih.nci.firebird.data.AbstractByteDataSource" />
        <mapping class="gov.nih.nci.firebird.data.AbstractCredential" />
        <mapping class="gov.nih.nci.firebird.data.AbstractCredentialSnapshot" />
        <mapping class="gov.nih.nci.firebird.data.AbstractOrganizationRole" />
        <mapping class="gov.nih.nci.firebird.data.AbstractOrganizationRoleSnapshot" />
        <mapping class="gov.nih.nci.firebird.data.AbstractProtocolRegistration" />
        <mapping class="gov.nih.nci.firebird.data.AbstractRegistration" />
        <mapping class="gov.nih.nci.firebird.data.AbstractRegistrationForm" />
        <mapping class="gov.nih.nci.firebird.data.AdditionalAttachmentsForm" />
        <mapping class="gov.nih.nci.firebird.data.Address" />
        <mapping class="gov.nih.nci.firebird.data.AnnualRegistration" />
        <mapping class="gov.nih.nci.firebird.data.AnnualRegistrationConfiguration" />
        <mapping class="gov.nih.nci.firebird.data.BoardCertifiedSpecialty" />
        <mapping class="gov.nih.nci.firebird.data.BoardCertifiedSpecialtySnapshot" />
        <mapping class="gov.nih.nci.firebird.data.TrainingCertificate" />
        <mapping class="gov.nih.nci.firebird.data.TrainingCertificateSnapshot" />
        <mapping class="gov.nih.nci.firebird.data.SubmittedTrainingCertificate" />
        <mapping class="gov.nih.nci.firebird.data.Certification" />
        <mapping class="gov.nih.nci.firebird.data.CertificationSnapshot" />
        <mapping class="gov.nih.nci.firebird.data.CertificationType" />
        <mapping class="gov.nih.nci.firebird.data.CertifiedSpecialtyBoard" />
        <mapping class="gov.nih.nci.firebird.data.CertifiedSpecialtyType" />
        <mapping class="gov.nih.nci.firebird.data.ClasspathResource" />
        <mapping class="gov.nih.nci.firebird.data.ClinicalLaboratory" />
        <mapping class="gov.nih.nci.firebird.data.ClinicalLaboratorySnapshot" />
        <mapping class="gov.nih.nci.firebird.data.ClinicalResearchExperience" />
        <mapping class="gov.nih.nci.firebird.data.Country" />
        <mapping class="gov.nih.nci.firebird.data.CtepFinancialDisclosure" />
        <mapping class="gov.nih.nci.firebird.data.AnnualRegistrationForm1572" />
        <mapping class="gov.nih.nci.firebird.data.CurriculumVitaeForm" />
        <mapping class="gov.nih.nci.firebird.data.Degree" />
        <mapping class="gov.nih.nci.firebird.data.DegreeSnapshot" />
        <mapping class="gov.nih.nci.firebird.data.DegreeType" />
        <mapping class="gov.nih.nci.firebird.data.FirebirdFile" />
        <mapping class="gov.nih.nci.firebird.data.ProtocolForm1572" />
        <mapping class="gov.nih.nci.firebird.data.ProtocolFinancialDisclosure" />
        <mapping class="gov.nih.nci.firebird.data.FormType" />
        <mapping class="gov.nih.nci.firebird.data.HumanResearchCertificateForm" />
        <mapping class="gov.nih.nci.firebird.data.InstitutionalReviewBoard" />
        <mapping class="gov.nih.nci.firebird.data.InstitutionalReviewBoardSnapshot" />
        <mapping class="gov.nih.nci.firebird.data.InvestigatorProfile" />
        <mapping class="gov.nih.nci.firebird.data.InvestigatorRegistration" />
        <mapping class="gov.nih.nci.firebird.data.RevisedInvestigatorRegistration" />
        <mapping class="gov.nih.nci.firebird.data.SubInvestigatorRegistration" />
        <mapping class="gov.nih.nci.firebird.data.Invitation" />
        <mapping class="gov.nih.nci.firebird.data.LaboratoryCertificate" />
        <mapping class="gov.nih.nci.firebird.data.LaboratoryCertificateSnapshot" />
        <mapping class="gov.nih.nci.firebird.data.LobHolder" />
        <mapping class="gov.nih.nci.firebird.data.MedicalLicense" />
        <mapping class="gov.nih.nci.firebird.data.MedicalLicenseSnapshot" />
        <mapping class="gov.nih.nci.firebird.data.MedicalLicenseType" />
        <mapping class="gov.nih.nci.firebird.data.Organization" />
        <mapping class="gov.nih.nci.firebird.data.OrganizationSnapshot" />
        <mapping class="gov.nih.nci.firebird.data.OrganizationAssociation" />
        <mapping class="gov.nih.nci.firebird.data.Person" />
        <mapping class="gov.nih.nci.firebird.data.PersonSnapshot" />
        <mapping class="gov.nih.nci.firebird.data.PracticeSite" />
        <mapping class="gov.nih.nci.firebird.data.PracticeSiteSnapshot" />
        <mapping class="gov.nih.nci.firebird.data.Protocol" />
        <mapping class="gov.nih.nci.firebird.data.ProtocolLeadOrganization" />
        <mapping class="gov.nih.nci.firebird.data.ProtocolAgent" />
        <mapping class="gov.nih.nci.firebird.data.ProtocolModification" />
        <mapping class="gov.nih.nci.firebird.data.ProtocolPhase" />
        <mapping class="gov.nih.nci.firebird.data.ProtocolRevision" />
        <mapping class="gov.nih.nci.firebird.data.RegistrationFormSetConfiguration" />
        <mapping class="gov.nih.nci.firebird.data.RootKeystore" />
        <mapping class="gov.nih.nci.firebird.data.State" />
        <mapping class="gov.nih.nci.firebird.data.SubmittedCredentialData" />
        <mapping class="gov.nih.nci.firebird.data.SubmittedForm1572Data" />
        <mapping class="gov.nih.nci.firebird.data.SupplementalInvestigatorDataForm" />
        <mapping class="gov.nih.nci.firebird.data.user.SponsorRole" />
        <mapping class="gov.nih.nci.firebird.data.user.FirebirdUser" />
        <mapping class="gov.nih.nci.firebird.data.user.InvestigatorRole" />
        <mapping class="gov.nih.nci.firebird.data.user.ManagedInvestigator" />
        <mapping class="gov.nih.nci.firebird.data.user.RegistrationCoordinatorRole" />
        <mapping class="gov.nih.nci.firebird.data.MedicalSpecialty" />
        <mapping class="gov.nih.nci.firebird.data.MedicalSubSpecialty" />
        <mapping class="gov.nih.nci.firebird.data.Internship" />        
        <mapping class="gov.nih.nci.firebird.data.InternshipSnapshot" />
        <mapping class="gov.nih.nci.firebird.data.MedicalSpecialtyCertifyingBoard" />
        <mapping class="gov.nih.nci.firebird.data.MedicalSubSpecialtyCertifyingBoard" />
        <mapping class="gov.nih.nci.firebird.data.Residency" />
        <mapping class="gov.nih.nci.firebird.data.ResidencySnapshot" />
        <mapping class="gov.nih.nci.firebird.data.Fellowship" />
        <mapping class="gov.nih.nci.firebird.data.FellowshipSnapshot" />
        <mapping class="gov.nih.nci.firebird.data.WorkHistory" />
        <mapping class="gov.nih.nci.firebird.data.WorkHistorySnapshot" />
        <mapping class="gov.nih.nci.firebird.service.properties.AbstractPropertyHolder" />
        <mapping class="gov.nih.nci.firebird.service.properties.DatePropertyHolder" />
        <mapping class="gov.nih.nci.firebird.service.properties.StringPropertyHolder" />
        <mapping class="gov.nih.nci.firebird.data.SubInvestigator" />
        <mapping class="gov.nih.nci.firebird.data.ShippingDesignee" />
        <mapping class="gov.nih.nci.firebird.data.OrderingDesignee" />
        <mapping class="gov.nih.nci.firebird.data.PrimaryOrganization" />
    </session-factory>
</hibernate-configuration>
