** NCI OCR Registration Returned **

This is to inform you that $ANNUAL_REGISTRATION.Sponsor.Name has accepted $ANNUAL_REGISTRATION.Profile.Person.DisplayName's annual registration packet to the
National Cancer Institute (NCI) to participate in NCI-sponsored clinical trials.

If you feel that you have received this email in error, please contact $ANNUAL_REGISTRATION.Profile.Person.DisplayName at $ANNUAL_REGISTRATION.Profile.Person.Email.
For registration questions, please contact the CTEP Investigator Registration Help Desk at pmbregpend@ctep.nci.nih.gov.

#parse( "/templates/firebird_email_footer.vm" )