** NCI OCR Registration Returned **

Dear $ANNUAL_REGISTRATION.Profile.Person.DisplayName:

$ANNUAL_REGISTRATION.Sponsor.Name has returned your annual registration packet.

#if ($ANNUAL_REGISTRATION.PlainTextSponsorComments != "")
Registration Comments:
"$ANNUAL_REGISTRATION.PlainTextSponsorComments"
#end

Form Comments:
#foreach ($form in $ANNUAL_REGISTRATION.Forms)
#if ($form.PlainTextComments != "")
    - $form.FormType.Name:
        "$form.PlainTextComments"
#end
#end


Click here to access NCI OCR: $FIREBIRD_LINK

If you have any questions about or need assistance with your registration, please contact a representative of $ANNUAL_REGISTRATION.Sponsor.Name by sending an email to $SPONSOR_EMAIL_ADDRESS.

#parse( "/templates/firebird_email_footer.vm" )