Dear $MANAGED_INVESTIGATOR.User.Person.DisplayName:

$MANAGED_INVESTIGATOR.InvestigatorProfile.Person.DisplayName has reactivated your ability to manage his/her profile.

Click here to access NCI OCR: $FIREBIRD_LINK

#parse( "/templates/firebird_email_footer.vm" )