Dear $MANAGED_INVESTIGATOR.User.Person.DisplayName:

$MANAGED_INVESTIGATOR.InvestigatorProfile.Person.DisplayName has suspended you from managing his/her protocol registrations.

Click here to access NCI OCR: $FIREBIRD_LINK

#parse( "/templates/firebird_email_footer.vm" )