Dear $MANAGED_INVESTIGATOR.User.Person.DisplayName:

$MANAGED_INVESTIGATOR.InvestigatorProfile.Person.DisplayName has removed you as his/her Registration Coordinator.

Click here to access NCI OCR: $FIREBIRD_LINK

#parse( "/templates/firebird_email_footer.vm" )
