You have been disqualified from participating in NCI-sponsored clinical trials because you have been deemed not qualified or otherwise ineligible. Below is additional information provided by NCI:

$COMMENTS

#parse( "/templates/firebird_email_footer.vm" )